Django==1.6.5
Jinja2==2.7.3
MarkupSafe==0.23
South==0.7.6
argparse==1.2.1
backports.ssl-match-hostname==3.4.0.2
certifi==14.05.14
dj-database-url==0.2.1
dj-static==0.0.5
gunicorn==19.1.1
html5lib==0.999
ipython==2.2.0
numpy==1.8.2
pandas==0.14.1
pystache==0.5.4
python-dateutil==2.2
pytz==2014.4
pyzmq==14.3.1
six==1.7.3
static==1.0.2
tornado==4.0.1
wsgiref==0.1.2
